/* HEADER */

.header {
  padding-right: 115px;
  padding-left: 108px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  margin-right: 108px;
}

.sitenav {
  display: flex;
  align-items: center;
}

.sitenav-list {
  display: flex;
  gap: 15px;
}

.sitenav-link {
  font-family: "Manrope" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.sitenav-btn {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border: 0;
  border-radius: 9px;
  margin-left: 159px;
  background: linear-gradient(122deg, #f32c4c 29.57%, #cb1d95 85.47%);
  color: var(--unnamed, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}

/* MAIN */

/* HERO */
.hero {
  padding-left: 113px;
  padding-right: 100px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 113px;
}

.hero-text {
  padding-top: 115px;
}
.hero-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
}
.hero-title-s {
  color: var(--unnamed, #333);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  padding-bottom: 14px;
}
.hero-p {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.hero-btn {
  padding-top: 29px;
}
.btn-n {
  width: 241px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77b2d3;
  color: var(--unnamed, #fff);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-right: 10px;
}
.btn-nn {
  width: 114px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77b2d3;
  color: var(--unnamed, #fff);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-right: 9px;
}
.btn-nnn {
  width: 141px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77b2d3;
  color: var(--unnamed, #fff);
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.hero-img {
  padding-left: 97px;
  padding-right: 100px;
  padding-top: 122px;
  width: 573px;
  height: 325px;
  flex-shrink: 0;
}

/* INFO */

.info {
  margin-top: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-container {
  width: 1250px;
  height: 254px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.info-title {
  padding-top: 40px;
  margin-left: 55px;
  color: var(--unnamed, #333);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*  */
.info-p {
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 53px;
}
.info-pp {
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 53px;
  padding-top: 3px;
}
.border-solid {
  width: 1px;
  height: 86px;
  background: #c7c7c7;
  margin-left: 63px;
}
.info-ppp {
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  margin-left: 50px;
}
.p {
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-pppp {
  margin-left: 50px;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* sevices */

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.services-title {
  padding-top: 76px;
  padding-bottom: 41px;
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  padding-left: 100px;
}
.services-sect {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.sect-top {
  text-align: center;
  width: 220px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #77b2d3;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.sect-p {
  padding-top: 11px;
  color: var(--unnamed, #fff);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.sevices-list {
  margin-bottom: 50px;
}
.services-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 7px;
  margin-left: 16px;
  margin-top: 18px;
}

.services-item img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.border-botton {
  margin-bottom: 11px;
  width: 210px;
  height: 1px;
  background: #e2e2e2;
}
.services-price {
  text-align: center;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-pricee {
  padding-top: 86px;
}

.services-price span {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.services-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 21px;
}

.services-btn {
  cursor: pointer;
}

.services-btn {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 0;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  color: var(--unnamed, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

/* Features */

.features {
  padding-top: 82px;
}
.features-container {
  display: flex;
  align-items: center;
  display: block;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.features-title {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  text-transform: uppercase;
  margin-bottom: 22px;
}
.features-p {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;
}
.input-name-tel {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.input-name-tel input[type="text"] {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 0;
  border: 0;
}

.input-name-tel input[type="tel"] {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 0;
}

::placeholder {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  padding-left: 19px;
}

.input-submi input[type="text"] {
  width: 570px;
  height: 141px;
  flex-shrink: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 0;
  margin-bottom: 20px;
}

.checkbox label {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 162.5% */
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 2px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 0;
}

.input-btn {
  cursor: pointer;
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 0;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
  color: var(--unnamed, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 35px;
}

.features-img {
  width: 570px;
  height: 511px;
  flex-shrink: 0;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.features-info {
  width: 515px;
  height: 43px;
  flex-shrink: 0;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: right;
  margin-top: 94px;
  margin-left: 843px;
}

/* Casec */

.hede-title-cases {
  display: flex;
  padding-left: 115px;
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.cases-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.stc {
  width: 570px;
  height: 518px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.stc-section {
  display: flex;
  flex-wrap: wrap;
}

.cases-logo {
  width: 150px;
  height: 112px;
  flex-shrink: 0;
  margin: 9px 397px 0px 23px;
}
.cases-log {
  width: 225px;
  height: 60px;
  flex-shrink: 0;
  margin-top: 42px;
  margin-bottom: 24px;
  margin-left: 25px;
}
.cases-p {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 28px;
  margin-right: 34px;
  margin-bottom: 24px;
}
.cases-stc {
  width: 570px;
  height: 161px;
  flex-shrink: 0;
  background: #f3f1fe;
}
.stc-title {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 21px;
  margin-left: 28px;
}
.stc-list {
  display: flex;
  align-items: center;
}

.stc-tit {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 28px;
}
.stc-titl {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.stc-img {
  margin-top: 20px;
  margin-left: 26px;
}

/* Footer */

.footer {
  height: 321px;
  flex-shrink: 0;
}
.foooter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list {
  display: flex;
  margin-top: 52px;
}
.footer-logo {
  width: 325px;
  height: 70px;
  flex-shrink: 0;
  margin-bottom: 5px;
}
.footer-pp {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-bottom: 22px;
}
.footer-item p {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-left: 201px;
}
.footer-btn {
  color: var(--unnamed, #fff);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border: 0;
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #f32c6d 29.57%, #cb1d95 85.47%));
}
.footer-title {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 201px;
  margin-bottom: 13px;
}
.footer-p {
  color: var(--unnamed, #fff);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.box {
  height: 41px;
  flex-shrink: 0;
  background: #2d2d2d;
}
